/* hero background image */
.text-left{
    font-size: 5rem;
    font-family: "Notable", sans-serif;
    color:#fbc074;
    text-align: left;
}

p{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

#home{
    background-color: rgb(230, 224, 216);
    margin-top: 0;
}
#about{
    background-color: rgb(230, 224, 216);
    margin-top: 0;
}
#menu{
    background-color: rgb(230, 224, 216);
    margin-top: 0;
}
#services{
    background-color: rgb(230, 224, 216);
    margin-top: 0;
}
#contact{
    background-color: rgb(230, 224, 216);
    margin-top: 0;
}

.bgimage {
    height:100vh;
    background: url('banr.jpeg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    font-family: "Notable", sans-serif;
    color: #fbc074;
    text-shadow: 5px 5px #1F0A0E;
}
.hero_desc {
    font-size: 2rem;
    font-family: "Love Ya Like A Sister", serif;
    color: #fbc074;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar{
    background-color: #fbc0748e;
}
.nav-link:link{
    font-family: "Notable", sans-serif;
    color:#230c03; 
}
.nav-title {
    font-size: 1.5rem;
    font-family: "Notable", sans-serif;
    color:#230c03; 
}

.imageAboutPage {
    width: 80%;
    border-color: #1F0A0E;
    border-style: solid;
    border-width: 5px;
}

.quote{
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 35px;
    color: #fbc074;

}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}

/* spacing on all sections */
#about, #drawings, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color:#230c03;

  }
.card-title {
    text-align: center;
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #fbc074;
}
.card:hover .servicesIcon {
    color: #fbc074;
}
.servicesText:hover {
    border: 1px solid #fbc074;
}
